<header id="site-header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-home"></i> Home</a>
        </div>
        <div class="navbar-collapse collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: location == 'example' }">
                    <a href="/example">
                        <i class="fa fa-fighter-jet"></i> Example
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="divider"></li>
                <li class="visible-xs" ng-class="{ active: location == 'profile' }">
                    <a href="/profiles/{{ user.id }}">
                        <small><i class="fa fa-user"></i> Profile</small>
                    </a>
                </li>
                <li class="visible-xs">
                    <a ng-click="signOut()">
                        <small><i class="fa fa-sign-out"></i> Sign out</small>
                    </a>
                </li>
                <li class="divider"></li>
                <li ng-if="!authorized" class="button right">
                    <google-plus-signin clientid="" language="en">
                        <button type="button" class="btn btn-danger navbar-btn btn-blocks">
                            <i class="fa fa-google-plus"></i> Sign in
                        </button>
                    </google-plus-signin>
                </li>
                <li ng-if="authorized" class="button right">
                    <div class="btn-group btn-block hidden-xs" dropdown>
                        <button type="button" class="btn btn-danger navbar-btn">
                            <img class="img-rounded" ng-attr-src="{{ user.avatar }} + '?sz=48" width="18" height="18"> {{ user.display }}
                        </button>
                        <button type="button" class="btn btn-danger navbar-btn dropdown-toggle" dropdown-toggle aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/profiles/{{ user.id }}"><i class="fa fa-user"></i> Profile</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="signOut()"><i class="fa fa-sign-out"></i> Sign out</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-danger navbar-btn btn-block visible-xs" ng-click="signOut()">
                        <i class="fa fa-sign-out"></i> Sign out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>
