<footer id="site-footer" class="container text-center">
    <hr>
    <ul>
        <li><a href="#">About</a></li>
        <li>|</li>
        <li><a href="#">Terms and Conditions</a></li>
        <li>|</li>
        <li><a href="#">Site Map</a></li>
        <li>|</li>
        <li><a href="#">Contact</a></li>
    </ul>
    <p>&copy; 2015 Skewed Aspect Studios. All rights reserved.</p>
</footer>