<div id="home" class="container">
    <h1>Welcome to the Web Seed project!</h1>
    <p>
        This is your home page. You should feel free to edit it; this message is a little bland, and probably unprofessional.
        Really, <i>not</i> editing this is kinda sad, when you think about it.
    </p>
</div>
